USE [EPLCNL]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [uniqueidentifier] NOT NULL,
	[email] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[full_name] [varchar](255) NULL,
	[phone_number] [varchar](10) NULL,
	[image_url] [varchar](2000) NULL,
	[date_of_birth] [date] NULL,
	[gender] [bit] NULL,
	[address] [varchar](255) NULL,
	[is_active] [bit] NULL,
	[is_deleted] [bit] NULL,
	[role_id] [uniqueidentifier] NULL,
	[created_date] [datetime] NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_date] [datetime] NULL,
	[updated_by] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountForum]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountForum](
	[id] [uniqueidentifier] NOT NULL,
	[learner_id] [uniqueidentifier] NULL,
	[tutor_id] [uniqueidentifier] NULL,
	[forum_id] [uniqueidentifier] NULL,
	[message] [varchar](max) NULL,
	[messaged_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountSurvey]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountSurvey](
	[id] [uniqueidentifier] NOT NULL,
	[survey_id] [uniqueidentifier] NULL,
	[learner_id] [uniqueidentifier] NULL,
	[answer] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assignment]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignment](
	[id] [uniqueidentifier] NOT NULL,
	[question_text] [varchar](255) NULL,
	[open_time] [time](7) NULL,
	[close_time] [time](7) NULL,
	[module_id] [uniqueidentifier] NULL,
	[deadline] [time](7) NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssignmentAttempt]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignmentAttempt](
	[id] [uniqueidentifier] NOT NULL,
	[assignment_id] [uniqueidentifier] NULL,
	[learner_id] [uniqueidentifier] NULL,
	[answer_text] [varchar](max) NULL,
	[attempted_date] [datetime] NULL,
	[total_grade] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Center]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Center](
	[id] [uniqueidentifier] NOT NULL,
	[account_id] [uniqueidentifier] NULL,
	[name] [varchar](255) NULL,
	[description] [varchar](255) NULL,
	[address] [varchar](1000) NULL,
	[email] [varchar](255) NULL,
	[is_active] [bit] NULL,
	[staff_id] [uniqueidentifier] NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificate]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificate](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CertificateCourse]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CertificateCourse](
	[id] [uniqueidentifier] NOT NULL,
	[certificate_id] [uniqueidentifier] NULL,
	[course_id] [uniqueidentifier] NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassLesson]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassLesson](
	[id] [uniqueidentifier] NOT NULL,
	[class_hours] [varchar](255) NULL,
	[class_url] [varchar](max) NULL,
	[class_module_id] [uniqueidentifier] NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassMaterial]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassMaterial](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](100) NULL,
	[material_url] [varchar](max) NULL,
	[class_topic_id] [uniqueidentifier] NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassModule]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassModule](
	[id] [uniqueidentifier] NOT NULL,
	[start_date] [datetime] NULL,
	[class_type_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassPractice]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassPractice](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NULL,
	[class_topic_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassTopic]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassTopic](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NULL,
	[description] [varchar](255) NULL,
	[material_url] [varchar](max) NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
	[class_lesson_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassType]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassType](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NULL,
	[course_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NULL,
	[description] [varchar](255) NULL,
	[code] [varchar](100) NULL,
	[image_url] [varchar](2000) NULL,
	[tutor_id] [uniqueidentifier] NULL,
	[stock_price] [decimal](18, 0) NULL,
	[is_active] [bit] NULL,
	[is_online_class] [bit] NULL,
	[rating] [float] NULL,
	[category_id] [uniqueidentifier] NULL,
	[tags] [varchar](255) NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[id] [uniqueidentifier] NOT NULL,
	[learner_id] [uniqueidentifier] NULL,
	[course_id] [uniqueidentifier] NULL,
	[enrolled_date] [datetime] NULL,
	[status] [varchar](255) NULL,
	[total_grade] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[id] [uniqueidentifier] NOT NULL,
	[feedback_content] [varchar](max) NULL,
	[image_url] [varchar](max) NULL,
	[created_date] [datetime] NULL,
	[learner_id] [uniqueidentifier] NULL,
	[course_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forum]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forum](
	[id] [uniqueidentifier] NOT NULL,
	[course_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Learner]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Learner](
	[id] [uniqueidentifier] NOT NULL,
	[account_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NULL,
	[video_url] [varchar](max) NULL,
	[reading] [varchar](max) NULL,
	[module_id] [uniqueidentifier] NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LessonMaterial]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonMaterial](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](100) NULL,
	[material_url] [varchar](max) NULL,
	[lesson_id] [uniqueidentifier] NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Module]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module](
	[id] [uniqueidentifier] NOT NULL,
	[course_id] [uniqueidentifier] NULL,
	[name] [varchar](255) NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperWork]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperWork](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NULL,
	[description] [varchar](255) NULL,
	[paper_work_url] [varchar](max) NULL,
	[paper_work_type_id] [uniqueidentifier] NULL,
	[tutor_id] [uniqueidentifier] NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperWorkType]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperWorkType](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfileCertificate]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileCertificate](
	[id] [uniqueidentifier] NOT NULL,
	[learner_id] [uniqueidentifier] NULL,
	[certificate_id] [uniqueidentifier] NULL,
	[status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[id] [uniqueidentifier] NOT NULL,
	[question_text] [varchar](max) NULL,
	[question_image_url] [varchar](max) NULL,
	[question_audio_url] [varchar](max) NULL,
	[default_grade] [float] NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
	[quiz_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionAnswer]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionAnswer](
	[id] [uniqueidentifier] NOT NULL,
	[question_id] [uniqueidentifier] NULL,
	[answer_text] [varchar](100) NULL,
	[position] [int] NULL,
	[is_answer] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[id] [uniqueidentifier] NOT NULL,
	[module_id] [uniqueidentifier] NULL,
	[class_practice_id] [uniqueidentifier] NULL,
	[name] [varchar](255) NULL,
	[grade_to_pass] [float] NULL,
	[deadline] [time](7) NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizAttempt]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizAttempt](
	[id] [uniqueidentifier] NOT NULL,
	[quiz_id] [uniqueidentifier] NULL,
	[learner_id] [uniqueidentifier] NULL,
	[attempted_date] [datetime] NULL,
	[open_time] [time](7) NULL,
	[close_time] [time](7) NULL,
	[total_grade] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefundRequest]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefundRequest](
	[id] [uniqueidentifier] NOT NULL,
	[transaction_id] [uniqueidentifier] NULL,
	[requested_date] [datetime] NULL,
	[approved_date] [datetime] NULL,
	[status] [varchar](50) NULL,
	[reason] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[id] [uniqueidentifier] NOT NULL,
	[account_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Survey]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Survey](
	[id] [uniqueidentifier] NOT NULL,
	[survey_question] [varchar](255) NULL,
	[survey_answer] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[id] [uniqueidentifier] NOT NULL,
	[payment_method_id] [uniqueidentifier] NULL,
	[amount] [decimal](18, 0) NULL,
	[status] [varchar](50) NULL,
	[transaction_date] [datetime] NULL,
	[learner_id] [uniqueidentifier] NULL,
	[course_id] [uniqueidentifier] NULL,
	[refund_status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutor]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutor](
	[id] [uniqueidentifier] NOT NULL,
	[account_id] [uniqueidentifier] NULL,
	[is_freelancer] [bit] NULL,
	[center_id] [uniqueidentifier] NULL,
	[staff_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallet]    Script Date: 1/25/2024 7:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallet](
	[id] [uniqueidentifier] NOT NULL,
	[balance] [decimal](18, 0) NULL,
	[transaction_date] [datetime] NULL,
	[account_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([id], [email], [password], [full_name], [phone_number], [image_url], [date_of_birth], [gender], [address], [is_active], [is_deleted], [role_id], [created_date], [created_by], [updated_date], [updated_by]) VALUES (N'a9f29ed1-b3fd-4a45-b6e1-1bd635a2310e', N'center@gmail.com', N'123', N'Hello', NULL, NULL, NULL, NULL, NULL, 1, 0, N'14191b0a-2ec2-48e3-9ede-c34d5de0ba32', CAST(N'2024-01-25T10:36:20.037' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Account] ([id], [email], [password], [full_name], [phone_number], [image_url], [date_of_birth], [gender], [address], [is_active], [is_deleted], [role_id], [created_date], [created_by], [updated_date], [updated_by]) VALUES (N'c1105f0e-01ba-4106-8516-6dfc0e1298a2', N'staff@gmail.com', N'123', N'hello', NULL, NULL, NULL, NULL, NULL, 1, 0, N'887428d0-9ded-449c-94ee-7c8a489ab763', NULL, NULL, NULL, NULL)
INSERT [dbo].[Account] ([id], [email], [password], [full_name], [phone_number], [image_url], [date_of_birth], [gender], [address], [is_active], [is_deleted], [role_id], [created_date], [created_by], [updated_date], [updated_by]) VALUES (N'c1105f0e-01ba-4106-8516-6dfc0e1298af', N'center1@gmail.com', N'123', N'Kio', NULL, NULL, NULL, NULL, NULL, 1, 0, N'14191b0a-2ec2-48e3-9ede-c34d5de0ba32', CAST(N'2024-01-25T10:33:47.807' AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[Center] ([id], [account_id], [name], [description], [address], [email], [is_active], [staff_id], [created_date], [updated_date]) VALUES (N'77c75eb8-6e1f-4148-8a5d-306ece654c8d', N'a9f29ed1-b3fd-4a45-b6e1-1bd635a2310e', N'Hello', N'english', N'thu duc', N'hello@gmail.com', 1, N'c1105f0e-01ba-4106-8516-6dfc0e129822', NULL, NULL)
INSERT [dbo].[Center] ([id], [account_id], [name], [description], [address], [email], [is_active], [staff_id], [created_date], [updated_date]) VALUES (N'2882d812-5a81-4913-87de-adcff7ff68e0', N'c1105f0e-01ba-4106-8516-6dfc0e1298af', N'Kio', N'123', N'123', N'meo@gmail.com', 0, NULL, NULL, NULL)
GO
INSERT [dbo].[Learner] ([id], [account_id]) VALUES (N'd052ec05-7f87-4261-9c3c-a547906c3b57', N'e99c7964-b950-43c2-8581-6f86cd6acf02')
GO
INSERT [dbo].[Role] ([id], [name]) VALUES (N'5f9a0e31-e7b2-417b-917d-111468a18a53', N'Admin')
INSERT [dbo].[Role] ([id], [name]) VALUES (N'1dc7ed61-a13d-4cfc-9e3e-2159f61bad3b', N'Tutor')
INSERT [dbo].[Role] ([id], [name]) VALUES (N'887428d0-9ded-449c-94ee-7c8a489ab763', N'Staff')
GO
INSERT [dbo].[Staff] ([id], [account_id]) VALUES (N'c1105f0e-01ba-4106-8516-6dfc0e129822', N'c1105f0e-01ba-4106-8516-6dfc0e1298a2')
GO
INSERT [dbo].[Tutor] ([id], [account_id], [is_freelancer], [center_id], [staff_id]) VALUES (N'28b843f5-875c-4c52-a21c-332e6e070143', N'8a76b887-0a72-41cc-b765-edcdbe10ce6f', 0, N'77c75eb8-6e1f-4148-8a5d-306ece654c8d', NULL)
INSERT [dbo].[Tutor] ([id], [account_id], [is_freelancer], [center_id], [staff_id]) VALUES (N'09d0027b-f747-4922-a139-52de4e4eb175', N'0e68ced1-873c-4211-9371-ca3a49be8562', 0, N'77c75eb8-6e1f-4148-8a5d-306ece654c8d', NULL)
INSERT [dbo].[Tutor] ([id], [account_id], [is_freelancer], [center_id], [staff_id]) VALUES (N'c2309725-caf7-4fe5-951d-5bbd93e5653c', N'5ffede8e-7a7d-4900-a039-853bc1506ebf', 0, N'77c75eb8-6e1f-4148-8a5d-306ece654c8d', NULL)
GO
/****** Object:  Index [UQ__Forum__8F1EF7AF3F51E869]    Script Date: 1/25/2024 7:20:25 PM ******/
ALTER TABLE [dbo].[Forum] ADD UNIQUE NONCLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Wallet__46A222CCC3492CBA]    Script Date: 1/25/2024 7:20:25 PM ******/
ALTER TABLE [dbo].[Wallet] ADD UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[AccountForum]  WITH CHECK ADD FOREIGN KEY([forum_id])
REFERENCES [dbo].[Forum] ([id])
GO
ALTER TABLE [dbo].[AccountForum]  WITH CHECK ADD FOREIGN KEY([learner_id])
REFERENCES [dbo].[Learner] ([id])
GO
ALTER TABLE [dbo].[AccountForum]  WITH CHECK ADD FOREIGN KEY([tutor_id])
REFERENCES [dbo].[Tutor] ([id])
GO
ALTER TABLE [dbo].[AccountSurvey]  WITH CHECK ADD FOREIGN KEY([learner_id])
REFERENCES [dbo].[Learner] ([id])
GO
ALTER TABLE [dbo].[AccountSurvey]  WITH CHECK ADD FOREIGN KEY([survey_id])
REFERENCES [dbo].[Survey] ([id])
GO
ALTER TABLE [dbo].[Assignment]  WITH CHECK ADD FOREIGN KEY([module_id])
REFERENCES [dbo].[Module] ([id])
GO
ALTER TABLE [dbo].[AssignmentAttempt]  WITH CHECK ADD FOREIGN KEY([assignment_id])
REFERENCES [dbo].[Assignment] ([id])
GO
ALTER TABLE [dbo].[AssignmentAttempt]  WITH CHECK ADD FOREIGN KEY([learner_id])
REFERENCES [dbo].[Learner] ([id])
GO
ALTER TABLE [dbo].[Center]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Center]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([id])
GO
ALTER TABLE [dbo].[CertificateCourse]  WITH CHECK ADD FOREIGN KEY([certificate_id])
REFERENCES [dbo].[Certificate] ([id])
GO
ALTER TABLE [dbo].[CertificateCourse]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([id])
GO
ALTER TABLE [dbo].[ClassLesson]  WITH CHECK ADD FOREIGN KEY([class_module_id])
REFERENCES [dbo].[ClassModule] ([id])
GO
ALTER TABLE [dbo].[ClassMaterial]  WITH CHECK ADD FOREIGN KEY([class_topic_id])
REFERENCES [dbo].[ClassTopic] ([id])
GO
ALTER TABLE [dbo].[ClassModule]  WITH CHECK ADD FOREIGN KEY([class_type_id])
REFERENCES [dbo].[ClassType] ([id])
GO
ALTER TABLE [dbo].[ClassPractice]  WITH CHECK ADD FOREIGN KEY([class_topic_id])
REFERENCES [dbo].[ClassTopic] ([id])
GO
ALTER TABLE [dbo].[ClassTopic]  WITH CHECK ADD FOREIGN KEY([class_lesson_id])
REFERENCES [dbo].[ClassLesson] ([id])
GO
ALTER TABLE [dbo].[ClassType]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([id])
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD FOREIGN KEY([tutor_id])
REFERENCES [dbo].[Tutor] ([id])
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([id])
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD FOREIGN KEY([learner_id])
REFERENCES [dbo].[Learner] ([id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([learner_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Forum]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([id])
GO
ALTER TABLE [dbo].[Learner]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD FOREIGN KEY([module_id])
REFERENCES [dbo].[Module] ([id])
GO
ALTER TABLE [dbo].[LessonMaterial]  WITH CHECK ADD FOREIGN KEY([lesson_id])
REFERENCES [dbo].[Lesson] ([id])
GO
ALTER TABLE [dbo].[Module]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([id])
GO
ALTER TABLE [dbo].[PaperWork]  WITH CHECK ADD FOREIGN KEY([paper_work_type_id])
REFERENCES [dbo].[PaperWorkType] ([id])
GO
ALTER TABLE [dbo].[PaperWork]  WITH CHECK ADD FOREIGN KEY([tutor_id])
REFERENCES [dbo].[Tutor] ([id])
GO
ALTER TABLE [dbo].[ProfileCertificate]  WITH CHECK ADD FOREIGN KEY([certificate_id])
REFERENCES [dbo].[Certificate] ([id])
GO
ALTER TABLE [dbo].[ProfileCertificate]  WITH CHECK ADD FOREIGN KEY([learner_id])
REFERENCES [dbo].[Learner] ([id])
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD FOREIGN KEY([quiz_id])
REFERENCES [dbo].[Quiz] ([id])
GO
ALTER TABLE [dbo].[QuestionAnswer]  WITH CHECK ADD FOREIGN KEY([question_id])
REFERENCES [dbo].[Question] ([id])
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD FOREIGN KEY([class_practice_id])
REFERENCES [dbo].[ClassPractice] ([id])
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD FOREIGN KEY([module_id])
REFERENCES [dbo].[Module] ([id])
GO
ALTER TABLE [dbo].[QuizAttempt]  WITH CHECK ADD FOREIGN KEY([learner_id])
REFERENCES [dbo].[Learner] ([id])
GO
ALTER TABLE [dbo].[QuizAttempt]  WITH CHECK ADD FOREIGN KEY([quiz_id])
REFERENCES [dbo].[Quiz] ([id])
GO
ALTER TABLE [dbo].[RefundRequest]  WITH CHECK ADD FOREIGN KEY([transaction_id])
REFERENCES [dbo].[Transaction] ([id])
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([id])
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD FOREIGN KEY([learner_id])
REFERENCES [dbo].[Learner] ([id])
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[PaymentMethod] ([id])
GO
ALTER TABLE [dbo].[Tutor]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Tutor]  WITH CHECK ADD FOREIGN KEY([center_id])
REFERENCES [dbo].[Center] ([id])
GO
ALTER TABLE [dbo].[Tutor]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([id])
GO
ALTER TABLE [dbo].[Wallet]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
